<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= render 'layouts/shim' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= render 'layouts/header' %>
		<div class="content">
			<% if notice %>
	      <p class="alert alert-success"><%= notice %></p>
	    <% end %>
	    <% if alert %>
	      <p class="alert alert-danger"><%= alert %></p>
	    <% end %>
			<%= yield %>
		</div>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
